body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#controls {
    position: absolute;
    width: 100%;
}

#score {
    color: white;
}

#menu {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50px;
    height: 600px;
    width: 600px;
    margin: 0 auto;
    color: #00806a;
    border: 5px solid #00806a;
    background-color: black;
    text-align: center;
    font-size: 36px;
}

#win {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50px;
    width: 600px;
    height: 300px;
    color: #00806a;
    border: 5px solid #00806a;
    background-color: black;
    text-align: center;
    font-size: 36px;
    display: none;
}

#onePlayerSettings, #twoPlayersSettings, #login {
    display: none;
}

#nicks {
    position: absolute;
    color: white;
}

.selecte {
    background-color: red;
}